---
import BtnStarted from "./BtnStarted.astro";
import MainBoxes from "./MainBoxes.astro";
import IllustOne from "../assets/illustration-grow-together.svg"
import IllustTwo from "../assets/illustration-flowing-conversation.svg"
import IllustThree from "../assets/illustration-your-users.svg"
---

<main class="relative flex flex-col items-center gap-12 px-7 pt-16 pb-72 bg-slate-50 lg:pt-28">
	<MainBoxes 
		imgSrc={IllustOne} 
		imgAlt="grow together"
		isSecondaryDiv={false}
		title="Grow Together"
		desc=`Generate meaningful discussions with your audience and build a strong, loyal community. 
			  Think of the insightful conversations you miss out on with a feedback form.`	
	/>
	<MainBoxes 
		imgSrc={IllustTwo} 
		imgAlt="Flowing conversations"
		isSecondaryDiv={true}
		title="Flowing Conversations"
		desc=`You wouldn't paginate a conversation in real life, so why do it online? 
			  Our threads have just-in-time loading for a more natural flow.`	
	/>
	<MainBoxes 
		imgSrc={IllustThree} 
		imgAlt="your users"
		isSecondaryDiv={false}
		title="Your Users"
		desc=`It takes no time at all to integrate Huddle with your app's authentication solution. 
			  This means, once signed in to your app, your users can start chatting immediately.`
	/>
	<div class="w-11/12 absolute -bottom-20 px-3.5 pt-12 pb-2 rounded-xl shadow-lg bg-white sm:w-[32em] md:w-[36em] lg:w-[41em]">
		<h3 class="text-xl text-center font-openSansB md:text-2xl lg:text-[1.6em]">Ready To Build Your Community?</h3>
		<BtnStarted isCenter={true}/>
	</div>
</main>